Repository cucumber/cucumber-js, pull requests merged in 2022-02, with the labels that each got.

#1918 docs: link to examples in readme, remove old example page
  README.md
  docs/nodejs_example.md
Labels: :book: documentation

#1919 build: include node 17 in test matrix
  .github/workflows/build.yaml
Labels: :wrench: build

#1721 Add possibility to opt-out from printing step attachments when scenario is not successful
  CHANGELOG.md
  docs/cli.md
  docs/first-time-contributor-tutorial.md
  docs/formatters.md
  features/error_formatting.feature
  src/cli/argv_parser.ts
  src/formatter/helpers/issue_helpers.ts
  src/formatter/helpers/issue_helpers_spec.ts
  src/formatter/helpers/test_case_attempt_formatter.ts
  src/formatter/index.ts
  src/formatter/json_formatter.ts
  src/formatter/progress_bar_formatter.ts
  src/formatter/summary_formatter.ts
Labels: good first issue, :zap: enhancement

#1588 runtime: Enable customization of parallel workers
  CHANGELOG.md
  docs/parallel.md
  docs/support_files/api_reference.md
  features/parallel_custom_assign.feature
  features/step_definitions/parallel_steps.ts
  src/cli/helpers_spec.ts
  src/index.ts
  src/runtime/parallel/README.md
  src/runtime/parallel/coordinator.ts
  src/support_code_library_builder/index.ts
  src/support_code_library_builder/parallel_can_assign_helpers.ts
  src/support_code_library_builder/parallel_can_assign_helpers_spec.ts
  src/support_code_library_builder/types.ts
Labels: :zap: enhancement
